<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd ">
    <util:properties id="applicationPropertiesList" location="classpath:application.properties"/>
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%    spring-beans-3.1.xsd-->
    <!--Drivers instances  prototype-->                                                                                                     <!--<bean id="driver" class="org.openqa.selenium.firefox.FirefoxDriver" destroy-method="quit" lazy-init="true"/>-->
    <!--<bean id="firefoxDriver" class="com.englishtown.driver.FirefoxOnWinRemoteWebDriverriver" destroy-method="quit" lazy-init="true"/>     &lt;!&ndash;ChromeRemoteWebDriver&ndash;&gt;-->
    <bean id="firefoxDriverOnWindows" class="com.englishtown.driver.FirefoxOnWinRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="chromeDriverOnWindows" class="com.englishtown.driver.ChromeRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <!--scope="prototype" destroy-method="destroyThreadGuardedWebDriver" lazy-init="true"/>-->
    <bean id="chromeDriverOnMac" class="com.englishtown.driver.ChromeRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="safariDriverOnMac" class="com.englishtown.driver.SafariRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="ie10Driver" class="com.englishtown.driver.IE10RemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="ie11Driver" class="com.englishtown.driver.IE11RemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="edgeDriver" class="com.englishtown.driver.EdgeRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <!--Mobile Drivers SafariOnIPadRemoteWebDriver-->
    <bean id="safariDriverOnIPadMini"
          class="com.englishtown.driver.mobile.SafariOnIPadRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="chromeOnAndroidNexusTablet"
          class="com.englishtown.driver.mobile.ChromeOnAndroidNexusRemoteWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="htmlUnitDriverFirefox"
          class="com.englishtown.driver.headles.HtmlUnitWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="phantomJSdriver"
          class="com.englishtown.driver.headles.PhantomJSWebDriver" destroy-method="quit" lazy-init="true"/>
    <!-- Mobile phones -->
    <bean id="chromeMobileSamsungGalaxyS4WebDriver"
          class="com.englishtown.driver.mobile.ChromeSimulatorSamsungGalaxyS4WebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="chromeMobileiPhone6WebDriver"
          class="com.englishtown.driver.mobile.ChromeSimulatoriPhone6WebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="chromeSimulatorGoogleNexus10WebDriver"
          class="com.englishtown.driver.mobile.ChromeSimulatorGoogleNexus10WebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="chromeSimulatorAppleIpadMiniWebDriver"
          class="com.englishtown.driver.mobile.ChromeSimulatorAppleIpadMiniWebDriver" destroy-method="quit" lazy-init="true"/>
    <bean id="chromeSimulatorAppleiPadWebDriver"
          class="com.englishtown.driver.mobile.ChromeSimulatorAppleiPadWebDriver" destroy-method="quit" lazy-init="true"/>
   <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!-- Beans -->
    <!--<bean id="frenchEnglishHomePageTest" class="com.englishlive.tests.home.fr.EnglishHomePageTest" lazy-init="true"/>-->
    <!--bean id="frenchFrenchHomePageTest"  class="com.englishlive.tests.home.fr.FrenchHomePageTest"  lazy-init="true"/>-->
    <!--<bean id="germanEnglishHomePageTest" class="com.englishlive.tests.home.uk.EnglishHomePageTest" lazy-init="true"/>-->
    <!-- ******************************************************************************************************** -->
    <!--Rap Bean with Spring Profile   destroy-method="quit" destroyThreadGuardedWebDriver-->
    <beans profile="default">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" scope="prototype"  destroy-method="destroyThreadGuardedWebDriver"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeDriverOnWindows"/>
        </bean>
    </beans>
    <beans profile="firefoxOnWindows">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
           lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="firefoxDriverOnWindows"/>
        </bean>
    </beans>
    <beans profile="safariOnMac">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
            lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="safariDriverOnMac"/>
        </bean>
    </beans>
    <beans profile="chromeOnWindows">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeDriverOnWindows"/>
        </bean>
    </beans>
    <beans profile="chromeMobileiPhone6OnWindows">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeMobileiPhone6WebDriver"/>
        </bean>
    </beans>
    <beans profile="chromeMobileGalaxyS4OnWindows">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeMobileSamsungGalaxyS4WebDriver"/>
        </bean>
    </beans>
    <beans profile="chromeSimulatorAppleIpadMini">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeSimulatorAppleIpadMiniWebDriver"/>
        </bean>
    </beans>
    <beans profile="chromeSimulatorAppleiPad">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeSimulatorAppleiPadWebDriver"/>
        </bean>
    </beans>
    <beans profile="chromeSimulatorGoogleNexus10">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeSimulatorGoogleNexus10WebDriver"/>
        </bean>
    </beans>
    <!--<beans profile="ie9">-->
        <!--<bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"-->
              <!--lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="ieDriver"/>-->
        <!--</bean>-->
    <!--</beans>-->
    <beans profile="ie10">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="ie10Driver"/>
        </bean>
    </beans>
    <beans profile="ie11">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="ie11Driver"/>
        </bean>
    </beans>
    <beans profile="edge">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="edgeDriver"/>
        </bean>
    </beans>
    <beans profile="safariOnIPad">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="safariDriverOnIPadMini"/>
        </bean>
    </beans>
    <beans profile="chromeOnAndroidNexusTablet">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="chromeOnAndroidNexusTablet"/>
        </bean>
    </beans>
    <beans profile="htmlUnitFirefox">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="htmlUnitDriverFirefox"/>
        </bean>
    </beans>
    <beans profile="phantomJS">
        <bean id="driver" class="com.englishtown.driver.ThreadGuardedWebDriverFactory" destroy-method="quit"
              lazy-init="true" factory-method="getThreadGuardedWebDriver"><constructor-arg ref="phantomJSdriver"/>
        </bean>
    </beans>
</beans>

